<agm-map [latitude]='latitude' 
[zoom]="zoom"
[longitude]='longitude' 
[usePanning]="true"
(mapReady)="mapReady($event)"
[styles]="styles"
[mapTypeId]='mapType'>
<agm-marker
*ngFor="let marker of markers"
[latitude]="marker.location.latitude"
[longitude]="marker.location.longitude"
[markerDraggable]="false"
(markerClick)="selectMarker($event,marker.id);showInfoWindow(iw)"
[iconUrl]= "icon"
>
<agm-info-window #iw >
    <p><strong>{{marker.name}}</strong></p>  
      <p> {{marker.address.city}}, {{marker.address.country}}-{{marker.address.zipCode}} </p>
       
  </agm-info-window>
</agm-marker>
</agm-map>
<div class="textSearch">
    <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
  </div>

  <div class="columList storelocator-list">
    <div class=" p-4 small sticky"  (click)="toggle()">{{results.length}} STORES NEAR YOUR LOCATION
    </div>
    <ul class="list-group" *ngIf="isCollapse"  id="ulContainer">
     
      <li class="list-group-item p-4 " *ngFor="let item of results" (click)="searchStore(item)" id={{item.id}}>
        <h3 class="text-bold">{{item.shortName}}</h3>
        <p class="mb-0 small">  {{item.address.street}}</p>
        <p class="mb-0 small"> {{item.address.zipCode}},{{item.address.state}}</p>
        <p class="mb-0 small">  {{item.address.country}}</p>
        <p class="mb-0 small"> Tel:{{item.phoneNumber}}</p>
  
        <a  target="_blank" class="btn-link" href="https://www.google.com/maps/search/{{item.shortName}}/@{{item.location.latitude}},{{item.location.longitude}},15z/data=!5m1!1e4">Get Direction</a>
      </li>
    
    </ul>
  </div>