<div *ngIf="changed">
<google-map
  height="500px"
  width="100%"
  [zoom]="zoom"
  [center]="center"
  [options]="options"
  (mapClick)="click($event)"
>
  <map-marker
    #markerElem
    *ngFor="let marker of markers"
    [position]="marker.position"
    [label]="marker.label"
    [title]="marker.title"
    [options]="marker.options"
    (mapClick)="openInfo(markerElem, marker.info)"
  >
  </map-marker>

  <map-info-window [innerHtml]="infoContent"></map-info-window>
</google-map>

</div>

<div class="btnMap">


  <button (click)="zoomIn()">Zoom in</button>
  <button (click)="zoomOut()">Zoom out</button>
  <button (click)="logCenter()">Log center</button>
  <!-- <button (click)="addMarker()">Add marker</button> -->
</div>

<div class="textSearch">
  <AutocompleteComponent (setAddress)="getAddress($event)" adressType="geocode"></AutocompleteComponent>
</div>
<div class="columList storelocator-list">
  <div class=" p-4 small sticky" >{{results.length}} STORES NEAR YOUR LOCATION
  </div>
  <ul class="list-group">
   
    <li class="list-group-item p-4 " *ngFor="let item of results">
      <h3 class="text-bold">{{item.shortName}}</h3>
      <p class="mb-0 small">  {{item.address.street}}</p>
      <p class="mb-0 small"> {{item.address.zipCode}},{{item.address.state}}</p>
      <p class="mb-0 small">  {{item.address.country}}</p>
      <p class="mb-0 small"> Tel:{{item.phoneNumber}}</p>

      <a  target="_blank" class="btn-link" href="https://www.google.com/maps/search/{{item.shortName}}/@{{item.location.latitude}},{{item.location.longitude}},15z/data=!5m1!1e4">Get Direction</a>
    </li>
  
  </ul>
</div>