/* You can add global styles to this file, and also import other style files */
.map-container{
    width: 100% !important;
    top: 0;
    left:0;
    position: fixed !important;
    height:100% !important;
}
body{
    padding:0;
    margin:0;
    font-family: 'Open Sans Condensed', sans-serif;
        font-weight: 200;
   
}
p{
    font-size: 16px;
    margin-bottom: 5px;
    margin-top:0;
}
.gm-style .gm-style-iw-c{
    padding:20px 15px !important;
    border-radius: 0 !important;
}
.gm-style button.gm-ui-hover-effect > img{
    width:20px !important;
    height:20px !important;
  

}
.gm-ui-hover-effect{
    right: 0 !important;
}
.text-bold{
    font-weight: bold !important;
}
.btnMap{
   
    bottom: 20px ;
    right: 0;
    position: absolute !important;
    z-index: 99;
   
}
.btnMap button{
    border:1px solid #ccc;
    background:#fff;
    padding:5px 20px;
    font-size:14px;
    margin-right: 5px;
}
.textSearch{

    position: absolute;
    width: 400px;
    top: 40px;
    left: 50%;
    margin: 0 auto;
    margin-left: -200px;
}
.textSearch input{
    padding:10px 20px;
    font-size:18px;
}
.columList {
    position: absolute;
    width: 400px;
    bottom: 0;
    left: 0; 
    z-index: 999;
    background:#fff;
    font-family: 'Julius Sans One', sans-serif;
}
.columList ul{
       
    height:500px;
    overflow :auto;
}
.storelocator-list li {
    background: transparent;
    font-family: 'Abel', sans-serif;

    padding: 10px 20px;
    border-bottom: 1px solid rgb(200, 199, 197);

    list-style: none;
}
ul{
    margin: 0;
    padding:0;
}
.storelocator-list li p{
    margin-bottom: 8px;
    font-family: 'Abel', sans-serif;

}
.small{
    font-size:14px;
}
.sticky{
    padding: 20px;
    border-bottom: 1px solid rgb(200, 199, 197);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 7px 1px;
}
.btn-link:hover{
    background:#000;
    color:#fff;
    text-decoration: none;
    padding:10px 20px;
    display:inline-block;
    margin: 20px 0;
}

.btn-link{
    background: transparent;
    color: #000;
    text-decoration: none;
    border: 2px solid #000;
    padding: 10px 20px;
    display: inline-block;
    margin: 20px 0;
    transition: all 0.4s ease-in;
}

@media (max-width: 480px){
    .textSearch{
        top:0;
        position: absolute;
        width: 100%;
        left: 0;
        margin: 0;
        margin-left: 0;
    }
}
.active{
    background:#f4f4f4 !important;
}